CompileFlags:
  Add: [-xc]
  CompilationDatabase: build

Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
  Suppress:
  - logical-op-parentheses
  - unused-function
  - unused-variable

# vim: set ft=yaml:
