CompileFlags:
  Add: [-xc]
  CompilationDatabase: build

Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
  Suppress:
  - c2y-extensions
  - logical-op-parentheses
  - unused-function
  - unused-label
  - unused-variable

---

If:
  PathMatch: source/engine/common.h

CompileFlags:
  Add: [-DMUON_ENGINE_MODULE]

# vim: set ft=yaml:
