BasedOnStyle: LLVM
Language: C

AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Always
IndentPPDirectives: BeforeHash
PenaltyReturnTypeOnItsOwnLine: 10000
SkipMacroDefinitionBody: true
SortIncludes: Never
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
