PATH_add bin

# Generate compile_commands.json
export CMAKE_EXPORT_COMPILE_COMMANDS=ON

export CTEST_OUTPUT_ON_FAILURE=ON

export ASAN_OPTIONS=detect_leaks=0

export CFLAGS="-g -fsanitize=address -fsanitize=undefined"
