PATH_add bin

# Generate compile_commands.json
export CMAKE_EXPORT_COMPILE_COMMANDS=1

export ASAN_OPTIONS=detect_leaks=0

# Silence "malloc: nano zone abandoned ..." on MacOS
export MallocNanoZone=0
